[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = "Diego Gonçalves "
	email = 136129201+dieguinxz@users.noreply.github.com
